
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
    --purple-color: #5A5FD0;
}

/*********** Table ordrer**************/

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-ordre table {
    width: 800px;
    border-collapse: collapse;
    border: 1px solid silver;
    margin-bottom: 20px;
}

.container-ordre td {
    text-align: center;
}

.totalprice {
    border-top: 1px solid black;
}

.delete-cartline{
    width: 75%;
    padding: 5px;
    border-radius: 25px;
    border: none;
    background-color: var(--purple-color);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;

}