@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root{
    --purple-color: #5A5FD0;
}
body {
    padding: 0;
    margin: 0;
    min-height: 200vh;
    font-family: "Poppins", sans-serif;
}

header {
    text-align: center;
}

h1 {
    font-size: 70px; /* Adjust font size to match your design */
    margin-bottom: 20px; /* Adjust margin to match your design */
    text-align: center;
}


nav,
ul {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 25px;
}

nav {
    padding: 0 70px;
    background: var(--purple-color);
    justify-content: space-between;
    position: sticky;
    top: 0;
}


nav ul {
    list-style: none;
}


nav li {
    position: relative;
}

nav li a {
    color: white;
    display: inline-block;
    font-weight: 100;
    letter-spacing: 2px;
    position: relative;
    text-decoration: none;
}

nav a img {
    width: 25%;
    margin: 0;
    padding: 0;
}

.order-container {
    max-width: 600px; /* Adjust width to match your design */
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 24px; /* Adjust font size to match your design */
    margin-bottom: 20px; /* Adjust margin to match your design */
}

.dropdown-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Adjust margin to match your design */
}

.dropdown {
    width: 48%; /* Adjust width to give space between dropdowns */
}

.dropdown label {
    display: none; /* Hide the label, as it's not shown in your design */
}

select {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid #CCC;
    appearance: none; /* Remove default style of select dropdown */
    background: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px top 50%;
    cursor: pointer;
}

input {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid #CCC;
    cursor: pointer;
}



button {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: var(--purple-color);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}
