<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/createuser.css" th:href="@{/css/createuser.css}" rel="stylesheet"/>

<body>
<nav>
    <a href="index.html" th:href="@{/}">
        <img class="logo" src="../public/images/logo.png" th:src="@{/images/logo.png}"/>
    </a>
    <div th:if="${session.currentUser != null}">
        <div class="user-email" th:text="${session.currentUser.email}"></div>
    </div>

    <ul>
        <li><a href="index.html" th:href="@{/}">Hjem</a></li>
        <li><a th:if="${session.currentUser != null}" href="index.html" th:href="@{/logout}">Log ud</a></li>
        <li><a th:if="${session.currentUser == null}" href="login.html" th:href="@{/loginpage}">Login/Opret</a></li>
        <li th:if="${session != null and session.currentUser != null and session.currentUser.admin}">
            <a href="adminpage.html" th:href="@{/adminpage}">Admin</a>
        </li>
        <li class="cart-item">
            <a href="kurv.html" th:href="@{/cart}">
                <img src="../public/images/cart.png" th:src="@{/images/cart.png}" />
            </a>
            <span class="cart-count" th:if="${session.cart.getTotalQuantity() > 0}" th:text="${session.cart.getTotalQuantity()}"></span>
        </li>

    </ul>
</nav>

<h1>Opret bruger</h1>

<div class="order-container">
    <h2>Skriv din e-mail og et password </h2>
    <form class="generic-form" method="post">
        <div class="dropdown-container">
            <div class="dropdown">
                <input type="text" name="name" placeholder="Navn" >
            </div>
            <div class="dropdown">
                <input type="text" name="email" placeholder="E-mail" >
            </div>
            <div class="dropdown">
                <input type="password" name="password1" placeholder="Password" >
            </div>
            <div class="dropdown">
                <input type="password" name="password2" placeholder="Gentag dit password" >
            </div>
        </div>
        <div class="button-container">
            <div class="dropdown">

                <button type="submit" formaction="/createuser">Opret bruger</button>
                <div><p th:text="${message}"></p></div>
            </div>
        </div>
    </form>

    <a href="login.html" th:href="@{/loginpage}">Har du allerede en konto? Login her</a>
</div>




</body>
</html>