<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

<body>
<header>
    <a href="index.html" th:href="@{/}">
        <img src="../public/images/banner.png" th:src="@{/images/banner.png}"/>
    </a>
</header>

<nav>
    <a href="index.html" th:href="@{/}">
        <img class ="logo" src="../public/images/logo.png" th:src="@{/images/logo.png}"/>
    </a>
    <ul>
        <li><a href="#">Hjem</a></li>
        <li><a href="#">Login/Opret</a></li>
        <li><a href="#">Kurv</a></li>
    </ul>
</nav>

<h1>Velkommen til OLSKER CUPCAKES </h1>

<div class="order-container">
    <h2>Bestil dine cupcakes</h2>
    <div class="dropdown-container">
        <div class="dropdown">
            <select name="top">
                <option>Vælg en topping</option>
                <option th:each="category: ${session.categoryMap.values}"
                        th:value="${category.categoryId}"
                        th:text="${category.name +' (' + category.categoryId + ')'}"
                        value="1">Name
                </option>
            </select>
        </div>
        <div class="dropdown">
            <select name="bottom">
                <option>Vælg en bund</option>
                <option th:each="category: ${session.categoryMap.values}"
                        th:value="${category.categoryId}"
                        th:text="${category.name +' (' + category.categoryId + ')'}"
                        value="1">Name
                </option>
            </select>
        </div>
    </div>
    <div class="dropdown-container">
        <div class="dropdown">
            <input placeholder="Indtast prisen på varen" type="number" name="price" min="0" max="100000"/>
        </div>
        <div class="dropdown">
        <button type="submit">Læg i kurv</button>
        </div>
    </div>
</div>









</body>
</html>
