<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <a href="index.html" th:href="@{/}">
        <img src="../public/images/banner.png" th:src="@{/images/banner.png}"/>
    </a>
</header>

<nav>
    <a href="index.html" th:href="@{/}">
        <img class="logo" src="../public/images/logo.png" th:src="@{/images/logo.png}"/>
    </a>
    <div th:if="${session.currentUser != null}">
        <div class="user-email" th:text="${session.currentUser.email}"></div>
    </div>

    <ul>
        <li><a href="index.html" th:href="@{/}">Hjem</a></li>
        <li><a href="login.html" th:href="@{/loginpage}">Login/Opret</a></li>
        <li th:if="${session != null and session.currentUser != null and session.currentUser.admin}">
            <a href="adminpage.html" th:href="@{/adminpage}">Admin</a>
        </li>
        <li class="cart-item">
            <a href="kurv.html" th:href="@{/cart}">
                <img src="../public/images/cart.png" th:src="@{/images/cart.png}" />
            </a>
            <span class="cart-count" th:if="${session.cart.getTotalQuantity() > 0}" th:text="${session.cart.getTotalQuantity()}"></span>
        </li>

    </ul>
</nav>

<h1>Velkommen til OLSKER CUPCAKES </h1>

<div class="order-container">
    <h2>Bestil dine cupcakes</h2>
    <form method="post">
        <div class="dropdown-container">
            <div class="dropdown">
                <select name="top">
                    <option>Vælg en topping</option>
                    <option th:each="top: ${topList}"
                            th:value="${top.id}"
                            th:text="${top.name +' (' + top.price + ')'}"
                            value="1">Name
                    </option>
                </select>
            </div>
            <div class="dropdown">
                <select name="bottom">
                    <option>Vælg en bund</option>
                    <option th:each="bottom: ${bottomList}"
                            th:value="${bottom.id}"
                            th:text="${bottom.name +' (' + bottom.price + ')'}"
                            value="1">Name
                    </option>
                </select>
            </div>
        </div>
        <div class="dropdown-container">
            <div class="dropdown">
                <input placeholder="Indtast antallet af cupcakes" type="number" name="quantity" min="0" max="100000"/>
            </div>
            <div class="dropdown">
                <button type="submit" formaction="/addtocart">Læg i kurv</button>
            </div>
        </div>
    </form>

    <a href="kurv.html" th:href="@{/cart}">Til kurv</a>

</div>


</body>
</html>
