<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<link href="../public/css/kurv.css" th:href="@{/css/kurv.css}" rel="stylesheet"/>
<nav>
    <a href="index.html" th:href="@{/}">
        <img class="logo" src="../public/images/logo.png" th:src="@{/images/logo.png}"/>
    </a>
    <div th:if="${session.currentUser != null}">
        <div class="user-email" th:text="${session.currentUser.email}"></div>
    </div>

    <ul>
        <li><a href="index.html" th:href="@{/}">Hjem</a></li>
        <li><a th:if="${session.currentUser != null}" href="index.html" th:href="@{/logout}">Log ud</a></li>
        <li><a th:if="${session.currentUser == null}" href="login.html" th:href="@{/loginpage}">Login/Opret</a></li>
        <li th:if="${session != null and session.currentUser != null and session.currentUser.admin}">
            <a href="adminpage.html" th:href="@{/adminpage}">Admin</a>
        </li>
        <li class="cart-item">
            <a href="kurv.html" th:href="@{/cart}">
                <img src="../public/images/cart.png" th:src="@{/images/cart.png}" />
            </a>
            <span class="cart-count" th:if="${session.cart.getTotalQuantity() > 0}" th:text="${session.cart.getTotalQuantity()}"></span>
        </li>

    </ul>
</nav>
<body>
<div class="container">
    <h2>Din ordre</h2>
    <div class="container-ordre">
        <form method="post">
        <table>
            <tr>
                <th>Antal</th>
                <th>Bund</th>
                <th>Topping</th>
                <th>Pris</th>

            </tr>
            <tr th:each="cartline, iStatus : ${session.cart.cartlines}">
                <td th:text="${cartline.quantity}"></td>
                <td th:text="${cartline.top.name}"></td>
                <td th:text="${cartline.bottom.name}"></td>
                <td th:text="${cartline.getTotal()}"></td>
                <td><button class="delete-cartline" formaction="/deletecartline" type="submit" name="cartIndex" th:value="${iStatus.index}">Delete</button></td>

            </tr>
            <tr class="totalprice">
                <td>Total pris</td>
                <td></td>
                <td></td>
                <td th:text="${session.cart.getTotal()}"></td>
            </tr>
        </table>
            <div th:unless="${session.currentUser != null}">
                    <button class="btn btn-ok" type="submit" formaction="/loginpage"> Login før du køber</button>
            </div>

            <div th:unless="${session.currentUser == null}">
                <button class="btn btn-ok" type="submit" formaction="/receipt"> Køb nu</button>
            </div>

        </form>

    </div>
</div>
</body>