<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
<nav>
    <a href="index.html" th:href="@{/}">
        <img class ="logo" src="../public/images/logo.png" th:src="@{/images/logo.png}"/>
    </a>
    <ul>
        <li><a href="#">Hjem</a></li>
        <li><a href="#">Login/Opret</a></li>
        <li><a href="#">Kurv</a></li>
    </ul>
</nav>

    <div class="flexbox-container">
        <h1 class="login">Log ind </h1>
    <form method="post">
        <div class="fields-flexbox">
        <div class="email">
            <input type="text" name="Email" placeholder="Din Email"/>
        </div>
        <div class="password">
            <input type="password" name="password" placeholder="Dit password"/>
        </div>
    </div>
        <div class="button-flexbox">
        <div class="submit">
            <button type="submit" formaction="/login">Log ind</button>
        </div>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw" style="display: block;">Opret en <a href="#">konto</a></span>
        </div>
    </form>
</div>

</body>
</html>