<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>opretbruger</title>
</head>


<div class="flexbox-container">
  <form action="/" style="border:1px solid ">
    <div class="container">
      <h1 class="h1">Opret bruger</h1>
      <hr class="line1">

      <label class="label1"><b>Enter Email</b></label>
      <input type="text" placeholder="Indtast Email" name="email" required>

      <label class="label2"><b>Enter Password</b></label>
      <input type="password" placeholder="Indtast Password" name="psw" required>

      <label class="label3"><b>Repeat Password</b></label>
      <input type="password" placeholder="Gentag Password" name="psw-repeat" required>

      <div class="clearfix">
        <button type="submit" class="opretbtn">Opret Bruger</button>
        <button type="button" class="afbrydbtn">Afbryd</button>
      </div>
    </div>
  </form>
</div>

</html>