<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestil dine cupcakes</title>
    <link href="../public/css/trying.css" th:href="@{/css/trying.css}" rel="stylesheet"/>
</head>
<body>
<div class="order-container">
    <h2>Bestil dine cupcakes</h2>
    <div class="dropdown-container">
        <div class="dropdown">
            <label for="topping">Vælg topping</label>
            <select id="topping">
                <option value="chocolate">Chocolate</option>
                <!-- More options -->
            </select>
        </div>
        <div class="dropdown">
            <label for="base">Vælg bund</label>
            <select id="base">
                <option value="vanilla">Vanilla</option>
                <!-- More options -->
            </select>
        </div>
    </div>
    <div class="dropdown-container">
        <div class="dropdown">
            <label for="quantity">Vælg antal</label>
            <select id="quantity">
                <option value="1">1</option>
                <!-- More options -->
            </select>
        </div>
        <button type="button" name="taskId" th:value="${task.taskId}" formaction="done">Læg i kurv</button>
    </div>
</div>
</body>
</html>
